mxnet
onnxruntime
streamlit
numpy
-f https://download.pytorch.org/whl/torch_stable.html
torch
-f https://download.pytorch.org/whl/torch_stable.html
torchvision
opencv-python
onnx==1.9.0
scikit-image
insightface==0.2.1
requests==2.25.1
kornia==0.5.4
dill
wandb